.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading{
    font-family: "PT-Serif Regular"!important;
    font-weight: 700!important;
    letter-spacing: 4.5px!important;
    font-size: 3em!important;
    line-height: 40px!important;
    color: #484338!important;
    margin: 20px;
}
.underline{
    display: flex;
    flex-direction: row;
}
.underline::before{
    content: "**********";
    color: #a58251;
    margin: 10px;
}

.underline::after{
    content: "**********";
    color: #a58251;
    margin: 8px;
}

.container{
    display: flex;
    flex-direction: row;
    min-height: 500px;
    overflow:hidden;
    flex-wrap: wrap;
}
.items{
    transform: rotate(7deg);
    scale: 110%;
    font-size: 10px;
    flex-grow: 1;
    min-width: 200px;
    min-height: 200px;
}
.items:hover{
    transform: rotate(0deg);
    transition: 0.2s ease-in;
    scale: 120%;
    cursor: pointer;

}
.item1{
    background: url("../../assessts/1.png");
    background-size: cover;
    height: 100%;
}
.item2{
    background: url("../../assessts/2.png");
    background-size: cover;
    height: 100%;
    
}
.item3{
    background: url("../../assessts/3.png");
    background-size: cover;
    height: 100%;
    
}
.item4{
    background: url("../../assessts/4.png");
    background-size: cover;
    height: 100%;
    
}
.item5{
    background: url("../../assessts/5.png");
    background-size: cover;
    height: 100%;
    
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    color: white;    
}
