.container{
    display: flex;
    flex-direction: row;
    height: 500px;
    overflow:hidden;
}
.items{
    border: 1px solid red;
    flex-grow: 1;
    transform: rotate(7deg);
    scale: 110%;

}
.items:hover{
    transform: rotate(0deg);
    transition: 0.2s ease-in;
    scale: 120%;
    cursor: pointer;

}
.item1{
    background: url("../../assessts/1.png");
    background-size: cover;
    height: 100%;
    
}
.item2{
    background: url("../../assessts/2.png");
    background-size: cover;
    height: 100%;
    
}
.item3{
    background: url("../../assessts/3.png");
    background-size: cover;
    height: 100%;
    
}
.item4{
    background: url("../../assessts/4.png");
    background-size: cover;
    height: 100%;
    
}
.item5{
    background: url("../../assessts/5.png");
    background-size: cover;
    height: 100%;
    
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    color: white;    
}
.text{
}