.container{
    background-color: #a04e4e;
    background-image: url("../../assessts/pattern-chakras-white.png");
    background-repeat: repeat;
    /* object-fit:contain; */
    /* border-radius: 20px; */
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: white;
    font-weight: 700;
}
.menuitem{
    font-size: 35px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.signoff{
    display: flex;

    align-items: center;
    margin-right: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.signoffbtn{
    width: 100%;
    color: #a04e4e;
    font-weight: 600;
}